.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.book-icon h3 {
  margin: 0;
}

.book-icon {
  padding: 15px;
  border-style: solid;
  margin: 15px;
}

.book-metadata {
  display: flex;
  justify-content: space-around;
}

.author-name {

}

.tag-name {

}
